@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    padding-top: 70px;
	color: #222;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    line-height: 1.8 !important;
}

html{
  scroll-behavior:smooth;
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'Open Sans', sans-serif;
	font-weight:200;
	color: #222;
}

p{
	font-family: 'Ubuntu', cursive;
	font-weight:500;
  font-size: larger;
}

section {
	padding-top:85px;
	padding-bottom:85px;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
/* Navbar */
.navbar-fixed-top .nav {
    padding: 15px 0;
}
.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}
.navbar-brand img{
	max-height:50px;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0px;
}
.navbar-default {
    background-color: #fff;
    border-color: #fff;
    border-radius: 0px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 0 10px 0 black;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: #fff;
    color: #222;
}
.navbar-default .navbar-nav > li > a, .rotHover {
    color: #222;
    transition: all 0.2s ease;
}
ul {
  text-align: center;
}
.navbar-default .navbar-nav > li > a:hover{
    transform:rotate(2deg);
    font-size: 1.15em;
    transition: all 0.2s ease;
}

.rotHover:hover {
  transform:rotate(12deg);
  transition: all 0.2s ease;
}

/* Hover */

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: left;
  background: #cccccc;
  cursor:pointer;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 50px 20px;
  cursor:pointer;
}

.hovereffect a, .hovereffect p,.hovereffect h2 {
  color: #fff;
  text-decoration:none;
  opacity: 0;
  filter: alpha(opacity=0);
  transition: opacity 0.35s, transform 0.35s;
  transform: translate3d(100%,0,0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
  color:#fff;
  text-decoration:none;
  opacity: 1;
  filter: alpha(opacity=100);
  transform: translate3d(0,0,0);
}

@media (max-width: 992px) {
	.hovereffect{
		margin-bottom: 25px;
	}
}

.hovereffect .photo-1, 
.hovereffect .photo-2, 
.hovereffect .photo-3,
.hovereffect .photo-4,
.hovereffect .photo-5,
.hovereffect .photo-6{
  display: block;
  position: relative;
  max-width: none;
  width: 120%;
  transition: opacity 0.33s, transform 0.66s;
  transform: translateX(-15%);
}

.hovereffect:hover .photo-1,
.hovereffect:hover .photo-2,
.hovereffect:hover .photo-3,
.hovereffect:hover .photo-4,
.hovereffect:hover .photo-5,
.hovereffect:hover .photo-6{
  opacity: 0.4;
  filter: opacity();
  transform: translateX(0%);
}

.photo-1,.photo-2,.photo-3,.photo-4,.photo-5,.photo-6{
	background-size:cover;
	height:40vh;
	width:100%;
	background-position:center;
}

/*Images*/

.photo-1 {background-image: url('../img/1.jpg');}
.photo-2 {background-image: url('../img/2.jpg');}
.photo-3 {background-image: url('../img/3.jpg');}
.photo-4 {background-image: url('../img/4.jpg');}
.photo-5 {background-image: url('../img/5.jpg');}
.photo-6 {background-image: url('../img/6.jpg');}

@media (max-width: 992px) {
	.thumbnail {
		padding: 0px 10px;
	}
}

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    height: 100vh;
    max-width: none;
	width: 100%;
	object-fit: cover;
}

@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}

@media only screen and (max-width: 768px) {
  ul.nav > li >a  {
    padding: 5px !important;
    font-size: 1.2em;
    letter-spacing: 5px;
    
  }

  ul.nav > li >a:hover {
    padding: 5px !important;
    font-size: 1.2em;
    letter-spacing: 5px;
    background-color: aqua;
  }

  ul {
    padding: 0px !important;
  }
}

.audio {
  color: rgb(18, 73, 124);
  cursor: pointer;
}

.bigger {
  font-size: 3em;
  font-style:normal ;
}

.paddingKinda {
  margin-top: 0px !important;
  
}
 /* Scroll */

::-webkit-scrollbar {
  width: 10px;
  margin-right: 5px;
}


::-webkit-scrollbar-track {
  
  background: linear-gradient(
    0deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 154, 0, 1) 10%,
    rgba(208, 222, 33, 1) 20%,
    rgba(79, 220, 74, 1) 30%,
    rgba(63, 218, 216, 1) 40%,
    rgba(47, 201, 226, 1) 50%,
    rgba(28, 127, 238, 1) 60%,
    rgba(95, 21, 242, 1) 70%,
    rgba(186, 12, 248, 1) 80%,
    rgba(251, 7, 217, 1) 90%,
    rgba(255, 0, 0, 1) 100%
);

}
 
::-webkit-scrollbar-thumb {
  background: linear-gradient(0deg, rgba(255,255,255,0.05) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0.05) 100%);
  border-radius: 50px;
}